.site {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.theimage {
    width: 50%;
	fill: none;
}

#custom-shape {
	outline: 1px solid grey;
}

.stroke {
	stroke: #000;
	stroke-width: 5;
}

.fill {
	fill: hsla(0, 0%, 50%, .5);
}
